@import "tailwindcss";

body {
  background-color: #18181b;
}


.split-container .gutter {
  background-color: #333;
  cursor: row-resize;
}

.split-container .gutter.gutter-horizontal {
  width: 6px;
}

.split-container .gutter.gutter-vertical {
  height: 6px;
}

.bg-custom-232323 {
  background-color: #232323;
}
